doctype html
html
  head
    title= title
    link(rel='stylesheet' href='../public/stylesheets/css/bootstrap.min.css')
    script(src="../public/javascripts/js/jquery.min.js")
    script(src='../public/javascripts/js/bootstrap.min.js')
    
    
  body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='/') Weighing Information System
        ul.nav.navbar-nav
          li.nav-item.active
            a.nav-link(href='/') Home #[span.sr-only]
          li.nav-item
            a.nav-item(href="/about") About
          li.nav-item
            a.nav-link(href="/university") Universities
          li.nav-item
            a.nav-link(href="/login") Login
          li.nav-item
            a.nav-link(href="/logout") Logout 
        
    block content

    footer.container-fluid
      div
        p copyright of iLabs@MAK Project, 2017  