extends layout
block content

    div.container-fluid
        h1 #{title}
        div
            form(action="/university/create", method="post")
                div.form-group
                    label(for="university name") University Name:
                    input#university_name.form-control(type="text", name="university_name")
                div.form-group
                    label(for="location") Location
                    input#location.form-control(type="text", name='location')
                div.form-group
                    label(for="web-url") Website URL
                    input#web_url.form-control(type="text", name='web_url')
                button.btn.btn-default(type="submit") Save University